<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Recursos humanos</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Hello world!<%= name %>!</h1>
  <p>App web con node y EJS</p>
</body>
</html>