<%- include('partials/header', { titulo: 'Dashboard de Proyectos' }) %>

<h2>Proyectos activos</h2>

<%- include('partials/proyect-card.ejs', { titulo: 'Dashboard de Proyectos' }) %>

<%- include('partials/footer') %>